/* 头部区域css在comheder.css */


/* 导航右侧区域 */
.nav-center-right {
    width: 460px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    /* background: pink; */
    float: right;
}
.nav-center-right a {
    padding: 0 20px;
}
.nav-center-right a:hover {
    color: #FE8C00;
}

/* 搜索区域 */
 .header {
     width: 100%;
     height: 157px;
     /* background: tomato; */
     margin-top: 10px;
 }
 .header-center {
    width: 1190px;
    height: 157px;
    /* background: darkseagreen; */
    margin: 0 auto;
}

/* logo区域 */
.header-center-left {
    width: 300px;
    height: 157px;
    /* background: pink; */
    font-size:0;
    float:left
}
.header-center-left h1 a img{
    width: 126px;
    height: 46px;
    padding: 26px 60px 40px 0px;
}
/* input */
.header-center-center {
    width: 550px;
    height: 40px;
    /* background: red; */
    font-size:0;
    float: left;
    margin-top: 28px;
}
.header-center-center input {
    width: 468px;
    height: 38px;
    border: 1px solid #E5E5E5;
}
.header-center-center button {
    width: 80px;
    height: 40px;
    border: 1px solid #FFC300;
    border-left-width: 0px;
    background: #FFC300;

}




/* 主体区域 */
.bodyer {
    width: 100%;
    height: 427px;
    /* background: darkturquoise; */
    margin-top: 10px;
}
.bodyer-center {
    width: 1190px;
    height: 427px;
    background: deepskyblue;
    margin: 0 auto;
}

/* 猫眼电影 */
.movie {
    width: 100%;
    height: 342px;
    margin-top: 10px;
}
.movie-center {
    width: 1190px;
    height: 342px;
    background: gold;
    margin: 0 auto;
}

/* 民宿 */
.hotel {
    width: 100%;
    height: 734px;
    margin-top: 10px;
}
.hotel-center {
    width: 1190px;
    height: 734px;
    background: pink;
    margin: 0 auto;
}
/* 猜你喜欢 */
.like {
    width: 100%;
    height: 758px;
    margin-top: 10px;
}
.like-center {
    width: 1190px;
    height: 758px;
    background: thistle;
    margin: 0 auto;
}
/* 副导航 */
.navbar {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}
.navbar-center {
    width: 1190px;
    height: 350px;
    background: wheat;
    margin: 0 auto;
}

/* 底部连接 */
.footer {
    width: 100%;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-center {
    width: 1190px;
    height: 350px;
    background: wheat;
    margin: 0 auto;
}